In [1]:
#Q1. creating variables

In [2]:
a = ['sarthak', 'amisha', 101,92018,738.9,True]

In [3]:
type(a)

list

In [4]:
b= "I am an Indian"

In [5]:
type(b)

str

In [6]:
fruits=('banana','mango','kiwi')
type(fruits)

tuple

In [7]:
fee = 9.98798798
type(fee)

float

In [8]:
#Q2.finding data types

In [9]:
var1 = ""
type(var1)

str

In [10]:
var2 = '[ DS , ML , Python]'
type(var2)

str

In [11]:
var3 = [ 'DS' ,'ML' , 'Python' ]
type(var3)

list

In [12]:
var4 = 1.
type(var4)

float

In [13]:
#Q3. use of arithmetic operators with example.

In [14]:
# use of /

In [15]:
a=5
d=3
print(a/d)

1.6666666666666667

In [16]:
#use of //
print(a//d) # giving floor value after division

1

In [17]:
# use of *
print(a*d) # multiplying 5 and 3

15

In [18]:
# use of **
print(a**d) # printing 5 to the power 3

125

In [19]:
# Q4. craeting list of length 10 and of multiple types of data. Using for loop print the element and its data type.

In [20]:
abc = ['suman', 'preeti', 'devendra', 50485,7465,289.0007, '664', 76+87j,True, False]
type(abc)

list

In [21]:
len(abc)

10

In [22]:
# printing elements and data types
for x in abc:
    print(x)
    print(type(x))

suman
<class 'str'>
preeti
<class 'str'>
devendra
<class 'str'>
50485
<class 'int'>
7465
<class 'int'>
289.0007
<class 'float'>
664
<class 'str'>
(76+87j)
<class 'complex'>
True
<class 'bool'>
False
<class 'bool'>

In [ ]:
a=int(input('gGive A: '))
b=int(input("Give B : "))
c=0
if (a/b==0) :
    while(a/b>=b and type(a/b)==int):
        c+=1
        
else:
    print("not divisible")

In [ ]:
# Q6.Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [ ]:
num = [1,2,3,4,5,6,7,8,90,11,23,23452,536,546,67,54,69,4546,6554,545,56,456,547,34,64]
len(num)
for x in num:
 if x%3==0:
    print( +x ,"is divisible by 3")
 else :
    print (+x ,"is not divisible by 3")

### What do you understand about mutable and immutable data types? Give examples for both showing this property.
mutable data types are the data types whose data items can be changed by using index. List , set are mutable i.e.,we change there data items.
However, string is immutable . We cannot change it's data items once created.

In [ ]:
name = "vaishnavi"
name[4]= "e" # we are trying to replace s with e but this will throw an error which proves that strings are immutable.

In [35]:
colors = ['red','green','blue','black','pink']
colors[3]="purple" # replacing black with purple which shows that lists are mutable
print(colors)

['red', 'green', 'blue', 'purple', 'pink']

In [36]:
city = ('jaipur','delhi', 'noida')
city[1]='bhopal' # will throw eror as tiples are immutable
print(city)

TypeError: 'tuple' object does not support item assignment